.Navbar{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    ;
}

.Navbar_Logo{
    width: auto;
    height: 30px;
    grid-column: 1 / 2;
}
    
    
.Navbar_Cart{
    grid-column: 12 / 13;
}
